<div class="board">
  <div class="player player-1">
    <h2>Player 1</h2>
    <mat-card class="store" (click)="playerStoreClick(1)">{{ getPlayerStore(1) }}</mat-card>
  </div>
  <div class="pits-container">
    <div class="pits">
      <mat-card class="pit player-1" *ngFor="let pit of getPits(1); let i = index" (click)="playerPitClick(1, i)">{{ pit }}</mat-card>
    </div>
    <div class="pits">
      <mat-card class="pit player-2" *ngFor="let pit of getPits(2); let i = index" (click)="playerPitClick(2, i)">{{ pit }}</mat-card>
    </div>
  </div>
  <div class="player player-2">
    <h2>Player 2</h2>
    <mat-card class="store" (click)="playerStoreClick(2)">{{ getPlayerStore(2) }}</mat-card>
  </div>
</div>
